In [15]:
import pandas as pd

# lst = [[35,'Portugal']]
S = [['him','sell'],[90,28,43]]
print(S[0][1][1])
# # t=(1,2,5,8)
# t[2]=6

y = [(2,4),(7,8),(1,5,9)]
x= y[1][1]
print(x)

e
8

In [42]:
url = 'FoodBalanceSheets_E_Africa_NOFLAG - Copy.csv'
# url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
food_data = pd.read_csv(url, on_bad_lines=None)
food_data_des = food_data.describe()
print(food_data_des)


food_data_null_count = food_data.isnull().sum()
print(food_data_null_count)
food_data.groupby('Element')['Element'].count()
food_data.groupby('Item')['Item'].sum()

food_data['Area'].nunique()

          Area Code     Item Code  Element Code          Y2014          Y2015  \
count  60943.000000  60943.000000  60943.000000   59354.000000   59395.000000
mean     134.265576   2687.176706   3814.856456     134.196282     135.235966
std       72.605709    146.055739   2212.007033    1567.663696    1603.403984
min        4.000000   2501.000000    511.000000   -1796.000000   -3161.000000
25%       74.000000   2562.000000    684.000000       0.000000       0.000000
50%      136.000000   2630.000000   5142.000000       0.090000       0.080000
75%      195.000000   2775.000000   5511.000000       8.340000       8.460000
max      276.000000   2961.000000   5911.000000  176405.000000  181137.000000

               Y2016          Y2017          Y2018
count   59408.000000   59437.000000   59507.000000
mean      136.555222     140.917765     143.758381
std      1640.007194    1671.862359    1710.782658
min     -3225.000000   -1582.000000   -3396.000000
25%         0.000000       0.000000       0.000000
50%         0.080000       0.100000       0.070000
75%         8.430000       9.000000       9.000000
max    185960.000000  190873.000000  195875.000000
Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

60943